.my-custom-size {
    width: 700px !important;
    height: 400px !important;
  }

  .custom-confirm-button {
    text-align: left;
  }

  .custom-title {
    color: #3454e0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .custom-scrollbar {
    overflow: hidden !important;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  