<html>
   <head>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }

            span.russ_center {
            text-align: center;
            }

              #color{color: black;}
        </style>
    </head>

    <div class="col-lg-12 col-lg-offset-1 ">
        <div class="panel registration-form">
            <div class="panel-body">
                <div class="row" style="padding: 10px 10px 10px 20px; background-color: black;">
                    <h1 style="padding-left: 35%"><span style="color: white;">PANGAEA</span><span class="btn ripple btn-success btn-sm" style="color: #24BFCD;"> ADD </span><span style="color: white;">CAPITAL</span></h1>
                </div>
                <div id="color">
                    <div class="row" style="background-color: whitesmoke;">
                        <div class="col-md-12 col-xxl-12">
                            <div class="card card-custom card-stretch gutter-b">
                                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                    <div class="card-title">
                                        <span class="h6 font-weight-bold text-uppercase d-block m-0 russ_center"> <h2>Existing Users <span style="color: #24BFCD;"><b><%= Timex.today %></b></span></h2></span>
                                    </div>
                                    <!--
                                        <div class="card-toolbar">
                                            <a href="#" id="loan-listing-filter" class="btn text-white font-weight-bolder" style="background-color: #011941;">
                                                <span><i class="fe fe-filter me-2"></i></span>Filter </a>
                                        </div>
                                    -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="panel registration-form">
                                            <div class="panel-body">
                                                <br>
                                                <div class="row" style="padding: 25px 30px 25px 20px">
                                                    <p>Dear Admin,</p>
                                                    <p style="color: black;">please note that Users with the following email addresses already exist <%= @email_address %></p>

                                                    <p></p>
                                                    <div class="row" style="background-color: whitesmoke;">
                                                        <p>Regards, </p>
                                                        <p>Pangaea Add Capital.</p>
                                                    </div>
                                                    <br>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<html>
