<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
	<meta name="author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">

	<!-- Favicon -->
	<link rel="icon" href="../../assets/img/brand/favicon.ico" type="image/x-icon"/>

	<!-- Title -->
	<title>Loan Management System</title>

	<link  id="style" rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/bootstrap/css/bootstrap.min.css") %>">

		<!-- Bootstrap css-->
	<link  id="style" rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/bootstrap/css/bootstrap.min.css") %>">
	<link  rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/webstatic/css/notifications/sweetalert2/sweetalert2.bundle.css") %>">



	<!-- Icons css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/web-fonts/icons.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/web-fonts/font-awesome/font-awesome.min.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/web-fonts/plugin.css") %>">

	<!-- Style css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/style.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/boxed.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/dark-boxed.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/skins.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/dark-style.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/colors/default.css") %>">
	<!-- Internal DataTables css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/css/dataTables.bootstrap5.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/css/buttons.bootstrap5.min.css") %>">
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/css/responsive.bootstrap5.css") %>">

	<!-- Color css-->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="<%= Routes.static_path(@conn, "/webstatic/css/colors/color.css") %>">

	<!-- Owl-carousel css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/owl-carousel/owl.carousel.css") %>">

	<!-- Select2 css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/select2/css/select2.min.css") %>">

	<!-- Mutipleselect css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/plugins/multipleselect/multiple-select.css") %>">

	<!-- Sidemenu css-->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/webstatic/css/sidemenu/sidemenu.css") %>">
	<!-- form wizard-->
	<!-- CSS only -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/jquery/jquery.min.js") %>"></script>
	<style>
		.russ{
		width: 100px;
		height: 50px;
		position: relative;
		animation-name: example;
		animation-duration: 2s;
		}

		@keyframes example {
		0%   {left:25px; top:0px;}
		25%  {left:200px; top:0px;}

		60% {left:0px; top:0px;}
		}

		.russkay{
		width: 100px;
		height: 100px;
		position: relative;
		animation-name: example;
		animation-duration: 4s;

		}

		@keyframes example {
		0%   {left:25px; top:0px;}
		25%  {left:200px; top:0px;}

		60% {left:0px; top:0px;}
		}

        	.russkay_russkay{

		position: relative;
		animation-name: russk;
		animation-duration: 2s;
		}

		@keyframes russk {
		0%   {right:25px; top:0px;}
		25%  {right:50px; top:0px;}

		60% {right:0px; top:0px;}
		}


	</style>
	</head>


	</head>

	<body style="background-color: #231d66;">


		<!-- Loader -->
		<div id="global-loader">
			<img src="<%= Routes.static_path(@conn, "/images/img/loader.svg") %>" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page main-signin-wrapper">

			<!-- Row -->
			<div class="row signpages text-center">


				<div class="col-md-12">

						<div class="row row-sm">
							<div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
								<div class="mt-8 pt-4 p-2 pos-absolute">
									<div class="clearfix"></div>
									<img src="<%= Routes.static_path(@conn, "/images/load.png") %>" class="ht-100 mb-0 russkay_russkay" alt="user"><br><br><br>
									<h5 class="mt-4 text-white">LOAN MANAGEMENT SYSTEM</h5>
									<span class="tx-white-6 tx-13 mb-5 mt-xl-0">You must change your password before logging on the first time.</span>
								</div>
							</div>
							<div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form ">
								<div class="container-fluid">
										<div class="card-body mt-2 mb-2">
											<img src="<%= Routes.static_path(@conn, "/images/load.png") %>" class=" d-lg-none header-brand-img text-start float-start mb-4" alt="logo">
											<div class="clearfix"></div>
											<form href="<%= Routes.user_path(@conn, :change_password) %>" method="POST">
                                                <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token()%>">
												<h5 class="text-start mb-2 text-center">Change Password</h5><br>
													<div class="row">
														<div class="col-md-12 col-lg-offset-2">
															<div class="form-group">
																<%= if get_flash(@conn, :info) do %>
																	<div class="alert alert-success alert-styled-left">
																	<button type="button" class="close" data-dismiss="alert">&times; <span class="sr-only">Close</span></button>
																	<%= get_flash(@conn, :info) %>
																	</div>
																<% end %>
																<%= if get_flash(@conn, :error) do %>
																	<div class="alert alert-warning alert-styled-left">
																	<button type="button" class="close" data-dismiss="alert">&times; <span class="sr-only">Close</span></button>
																	Opps! <%= get_flash(@conn, :error) %>
																	</div>
																<% end %>
															</div>
														</div>
													</div>
												<div class="form-group text-start">
													<label>Current Password</label>
													<input type="password" name="user[old_password]" id="lostaccount" class="form-control" required="">
												</div>
												<div class="form-group text-start">
													<label>New Password</label>
													<input type="password" name="user[new_password]" id="lostaccount" class="form-control" required="">
                                                    <div class="invalid-feedback">No, you missed this one.</div>

												</div>
                                                <div class="form-group text-start">
													<label>Confirm New Password</label>
													<input type="password" name="user[new_password]" id="lostaccount" class="form-control" required="">
                                                    <div class="invalid-feedback">No, you missed this one.</div>

												</div>
												<button type="submit" class="btn ripple btn-main-primary btn-block">Change</button>
											</form>
										</div>
								</div>
							</div>

					</div>
				</div>
			</div>
			<!-- End Row -->
			<div class="blankpage-footer text-center text-white">
				©  <%= Timex.today.year %> Loan System powered by&nbsp;
				<a href='http://www.probasegroup.com/' class='text-black' title='ProBASE' target='_blank'>
					<img class="russ" src="<%= Routes.static_path(@conn, "/images/probaselogo.png") %>" width="120">
				</a>
			</div>
		</div>

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>


	<!-- Jquery js-->


	<!-- Bootstrap js-->

	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/bootstrap/js/bootstrap.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/notifications/sweetalert2/sweetalert2.bundle.js") %>"></script>
	<!-- formwizard-->
	<script src="<%= Routes.static_path(@conn, "/webstatic/js/form.js") %>"></script>

	<!-- Internal Chart.Bundle js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/chart.js/Chart.bundle.min.js") %>"></script>
		<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/bootstrap/js/popper.min.js") %>"></script>

	<!-- Peity js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/peity/jquery.peity.min.js") %>"></script>

	<!-- Select2 js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/select2/js/select2.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/select2.js") %>"></script>

	<!-- Perfect-scrollbar js -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/perfect-scrollbar/perfect-scrollbar.min.js") %>"></script>

	<!-- Sidebar js -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/sidebar/sidebar.js") %>"></script>

	<!-- Owl Carousel js -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/owl-carousel/owl.carousel.js") %>"></script>

	<!-- Internal Apexchart js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/apexcharts.js") %>"></script>

	<!-- Internal Polyfills js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/polyfill/polyfill.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/polyfill/classList.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/polyfill/polyfill_mdn.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/dataTables.responsive.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/responsive.bootstrap5.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/table-data.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/jquery.dataTables.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/dataTables.bootstrap5.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/dataTables.buttons.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/buttons.bootstrap5.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/jszip.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/pdfmake/pdfmake.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/pdfmake/vfs_fonts.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/buttons.html5.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/buttons.print.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/datatable/js/buttons.colVis.min.js") %>"></script>




	<!-- Internal Morris js -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/raphael/raphael.min.js") %>"></script>
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/morris.js/morris.min.js") %>"></script>

	<!-- Internal Dashboard js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/apexcharts.js") %>"></script>

	<!-- Sparkline js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/plugins/jquery-sparkline/jquery.sparkline.min.js") %>"></script>

	<!-- Internal Dashboard js-->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/crypto-dashboard.js") %>"></script>

	<!-- Sticky js -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/sticky.js") %>"></script>

	<!-- Custom js -->
	<script   src="<%= Routes.static_path(@conn, "/webstatic/js/custom.js") %>"></script>



	<!-- Internal Prism js-->
	<script  src="<%= Routes.static_path(@conn, "/webstatic/plugins/prism/prism.js") %>"></script>


	<script src="<%= Routes.static_path(@conn, "/webstatic/plugins/bootstrap/js/bootstrap.min.js") %>"></script>

	<script src="<%= Routes.static_path(@conn, "/webstatic/plugins/jquery-steps/jquery.steps.min.js") %>"></script>

	<!-- Internal Form-wizard js-->
	<script src="<%= Routes.static_path(@conn, "/webstatic/js/form-wizard.js") %>"></script>
	<script src="<%= Routes.static_path(@conn, "/webstatic/js/default.js") %>"></script>
	<script src="<%= Routes.static_path(@conn, "/webstatic/js/journalentry.js") %>"></script>

	<script src="<%= Routes.static_path(@conn, "/webstatic/js/financial_statement.js") %>"></script>

	<!-- Internal Jquery-Ui js-->
	<script src="<%= Routes.static_path(@conn, "/webstatic/plugins/jquery-ui/ui/widgets/datepicker.js") %>"></script>

	<!--Bootstrap-datepicker js-->
	<script src="<%= Routes.static_path(@conn, "/webstatic/plugins/bootstrap-datepicker/bootstrap-datepicker.js") %>"></script>
	<!-- Internal TelephoneInput js-->
	<script src="<%= Routes.static_path(@conn, "/assets/plugins/telephoneinput/telephoneinput.js") %>"></script>
	<script src="<%= Routes.static_path(@conn, "/assets/plugins/telephoneinput/inttelephoneinput.js") %>"></script>

	</body>
</html>
